@keyframes fade-image {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .image-container {
    position: relative;
    height: 140px;
    overflow: hidden;
  }
  
  .image-container .MuiCardMedia-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .show-image1 .MuiCardMedia-root:nth-child(1),
  .show-image2 .MuiCardMedia-root:nth-child(2) {
    opacity: 1;
    position: absolute;
  }
  
  .MuiCard-root {
    background-color:#D9D9D9;
  }
  
  .MuiCardMedia-root {
    background-size: cover;
    background-position: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  
  .top-cards,
  .bottom-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 200%;
  }

  .card {
    margin: 0 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }
 
  .card4{
    position: absolute;
    top: 50%;
  }
  .card-title {
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-top: 1px solid #EAEAEA;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 36px;
  }
  