@keyframes fade-image {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .view-playlist-header {
    position: absolute;
    top: 12%;
    left: 1.7%;
    transform: translate(-10%, -10%);
    font-weight:bold;
    color:gray;
    /* Other styles as needed */
  }

  .etc-icon{
    position:absolute;
    width:1.5vw;
    height:1.5vw;
    right: 0.4vw;
    /* cursor:pointer; */
  }
  
  .image-container {
    position: relative;
    height: 25vh;
    /* overflow: hidden; */
  }
  
  .image-container .MuiCardMedia-root {
    position: absolute;
    top: .5vh;
    left: 7vw;
    width: 15vw; /* Set the width to 100% to fill the container */
    height: 28vh; /* Set the height to 100% to fill the container */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .more-options-dropdown{
    position: absolute;
    top: 3vh;
    right: 0.7vw;
    height: 6.5vh;
    width:7.5vw;
    background-color: white;
    padding: .5vw;
    border: 1px solid gray;
    border-radius: 6%;
    z-index: 9999;   
  }

  .divider {
    border-top: 1px solid black;
    margin: .75vh 0;
  }

  .dropdown-option {
    display: flex;
    align-items: center;
    /* text-align:center; */
    cursor: pointer;
    /* justify-content:center; */
  }

  .dropdown-text {
    font-size:.7vw;
    text-align:center;
  }
  
  .show-image1 .MuiCardMedia-root:nth-child(1),
  .show-image2 .MuiCardMedia-root:nth-child(2) {
    opacity: 1;
    position: absolute;
  }
  
  .MuiCard-root {
    background-color:#D9D9D9;
  }
  
  .MuiCardMedia-root {
    background-size: cover;
    background-position: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-cards{
    position:absolute;
    display: flex;
    justify-content: center;
    bottom: 43vh;
    margin-top: 2vh;
    width: 100%; 
    /* margin-right:1vw; */
    /* margin-left:1vw; */
  }

  .bottom-cards {
    position:absolute;
    display: flex;
    justify-content: center;
    bottom: 2vh;
    /* margin-top: 20px; */
    width: 100%;
  }

  .card {
    margin: 0 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }
 
  .card4{
    position: absolute;
    top: 50%;
  }
  .card-title {
    position:flex;
    background-color: rgb(230, 226, 226);
    color: black;
    border: none;
    border-top: 1px solid #EAEAEA;
    /* padding: 5px; */
    /* margin-top: 10px; */
    width: 100%;
    box-sizing: border-box;
    font-size: 36px;
    bottom: 1px;
  }
  
  @media screen and (max-width: 768px){
    .more-options-dropdown{
      position: absolute;
      top: 3vh;
      right: 0.7vw;
      height: 4.5vh;
      width:7.5vw;
      background-color: white;
      padding: .5vw;
      border: 1px solid gray;
      border-radius: 6%;
      z-index: 9999;   
    }
  }