@keyframes fade-image {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .view-playlist-header {
    position: absolute;
    top: 12%;
    left: 1.7%;
    transform: translate(-10%, -10%);
    font-weight:bold;
    color:white;
    font-size: 35px;
    left: 70px;
    font-family:  'Lucida Grande';
  }

  .etc-icon{
    position:absolute;
    width: 2vw;
    height:2vw;
    right: 1.8vw;
    top:1vh;
  
  }
  
  .image-container {
    position: relative;
    height: 25vh;
    background-color: #FFFF;
  }
  
  .image-container .MuiCardMedia-root {
    position: absolute;
    top: .5vh;
    left: 7vw;
    width: 15vw; /* Set the width to 100% to fill the container */
    height: 28vh; /* Set the height to 100% to fill the container */
    opacity: 0;
    color: white;
    transition: opacity 0.3s ease-in-out;
    
  }

  .more-options-dropdown{
    position: absolute;
    top: 3vh;
    right: 0.7vw;
    height: 3vh;
    width:7.5vw;
    background-color: white;
    padding: .5vw;
    border: 1px solid gray;
    border-radius: 6%;
    z-index: 1000;   
  }

  .divider {
    border-top: 1px solid black;
    margin: .75vh 0;
  }

  .dropdown-option {
    display: flex;
    align-items: center;
    /* text-align:center; */
    cursor: pointer;
    /* justify-content:center; */
  }

  .dropdown-text {
    font-size:.7vw;
    text-align:center;
  }
  
  .show-image1 .MuiCardMedia-root:nth-child(1),
  .show-image2 .MuiCardMedia-root:nth-child(2) {
    opacity: 1;
    position: absolute;
  }
  
  .MuiCard-root {
    background-color:white;
  }
  
  .MuiCardMedia-root {
    background-size: cover;
    background-position: center;
    background-color:white;
  }
  
  .card-container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: black;

  }
  
  .campaign-list {
    /* 
    top:20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%; */
    position:absolute;
    top:20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align to the left */
    gap: 20px; /* Adjust as needed for spacing between cards */
    width: 95%;
  }

  .card {
    margin: 0 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    width: calc(30% - 20px); 
  }

  .card:hover {
    transform: scale(1.05);
  }
 
  .card4{
    position: absolute;
    top: 50%;
  }
  .card-title {
    position:flex;
    background-color: #0C5497;
    color: white;
    border: none;
    border-top: 0px solid #EAEAEA;
    border-radius: 2px;
    /* padding: 5px; */
    /* margin-top: 10px; */
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    bottom: 1vh;
  }

  .image-carousel-wrapper{
    position:absolute;
    height:15vh;
    width:15vw;
    top:2vh;
    left:6vw;
  }

  .error-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10000;

  
  }
  
  .error-popup-content {
    width: 30vw;
    height: 5vh;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    z-index:10000;
  }

  .error-close-btn {
    background-color: #20509C;
    justify-content: left;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 2vw;
    height: 4vh;
    position: absolute;
    top: 47vh;
    left: 62vw;
  }
  
  @media screen and (max-width: 768px){
    .more-options-dropdown{
      position: absolute;
      top: 3vh;
      right: 0.7vw;
      height: 4.5vh;
      width:7.5vw;
      background-color: white;
      padding: .5vw;
      border: 1px solid gray;
      border-radius: 6%;
      z-index: 1000;   
    }
  }