.gallery-container {
  /* display: flex;
  justify-content: flex;
  align-items: flex-start; */
  display: inline-block;
  width: 100%;
  margin-top: 12vh;
  font-size: 1.5vw;
  margin-left: 2vh;
  font-family: 'Lucida Grande';
  font-weight: bolder;
  background-color: #032644;
  color: white;
  
  }

  .icon-dropdown2{
    color: black;
  }
  
  .gallery-color {
    color: white;
  }
  
  .italic-text {
  color:white;
  font-style: italic;
  font-size: 1vw;
  }
  
  .edit-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C5497;
  display: none;
  }
  
  
  .delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C5497;
  font-size: 24px;
  }
  
  
  /* Add the following CSS rule to show the edit icon when hovering over the image-item */
  .image-item:hover .edit-button {
  display: flex;
  }
  
  
  .icon {
  height: 8%;
  width: 4%;
  }
  
  .image-grid {
  display: grid;
  padding-top: 2vh;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  justify-content: center;
  background-color: #032644;
  }
  
  
  
  .image-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  }

  .image-box {
    width: 300px;
    height: 300px;
    margin: 1rem;
  }
  
  
  img {
  width: 300px;
  height: 300px;
  border-radius: 8%;
  object-fit: fill;
  display: block;
  }
  
  
  .image-item.selected {
  background-color: rgba(61, 163, 227, 0.9);
  border-radius: 3%;
  }
  
  
  
  
  .containerStyle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
