.gallery-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  /* display: flex;
  justify-content: flex; 
  align-items: flex-start;  */
  height: 100vh; /* Set the height of the body to the viewport height */
  margin: 0; 
  padding-top: 12vh; 
  padding-right: 10rem;
  font-size: 24px;
  font-style: bolder;
  color: grey;
  font-family:'Franklin Gothic Medium';
}


.icon {
  height: 8%;
  width: 4%;
}

/* h4 {
  font-size: 20px;
  margin-left: 10px;
} */



/* Media queries for responsive design */
@media (max-width: 768px) {
  .gallery-container {
    font-size: 18px; /* Adjust font size for smaller screens */
    margin-top: 5px; /* Add some spacing between the icon and h4 on smaller screens */
  }
  .image-item {
      width: 175px; /* Change width to 100% to make images responsive within grid */
      height: 175px;
      border-radius: 5px;
      overflow: hidden;
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
}

@media (max-width: 480px) {
  .icon {
    height: 16px; /* Adjust icon size for even smaller screens */
    width: 8px;
  }

  .gallery-container {
    font-size: 16px; /* Further adjust font size for even smaller screens */
  }

    .image-item {
      position: relative;
      width: 75px; /* Change width to 100% to make images responsive within grid */
      height: 75px;
      border-radius: 5px;
      overflow: hidden;
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

  }

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 50px; /* Adjust margin for centering the grid */
  padding: 10px;
}

.image-item {
  position: relative;
  width: 225px; /* Change width to 100% to make images responsive within grid */
  height: 275px;
  border-radius: 5px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
