/* styling inside of upload widget  */
.upload-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 30.8vw;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  border: 2px dashed #0C5497;
  border-radius: 20px;
}

.success-message {
  border: 2px dashed #FFFFFF;
  border: none;
}

.form {
  color: #0C5497;
}

.upload-widget.loading {
  border: 2px dashed #FFFF;
  border: none;
}


.loading-bar {
  border-radius: 10px;
  height: 5px;
  width: 100%; 
  background-color: #0C5497;
  position: absolute;
  bottom: 5px; 
  top: 85px;
  /* left: 50%;  */
  /* transform: translateX(-50%);  */
}


.loading-text {
  color: #0C5497;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loading-bar::before {
  border-radius: 10px; 
  content: '';
  display: block;
  height: 100%;
  width: 0;
  background-color: #bae4ef;
  position: absolute;
  top: 20;
  left: 0;
  animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
  0% { width: 0; }
  100% { width: 100%; }
}

/* .image-list-container {
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}  */

/* view all uploads button */
.view-gallery-button {
  padding: 10px;
  background-color: #0C5497;
  border: 1px solid #FFFF;
  border-radius: 20px;
  outline: none;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 81.5%;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  position: absolute;

}

.view-gallery-button:hover {
  background-color: #bae4ef;
}

.success-message {
  color: #0C5497;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vw;
  width: 30.8vw;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  border: 2px dashed #0C5497;
  border-radius: 20px;
}


.loading-container {
  position: relative; /* Add this to make the loading-bar position relative to this container */
}

@media screen and (max-width: 768px) {
  .upload-widget {
    /* Adjust the styles for responsiveness */
    height: 30vw;
    width: 91.5vw;
  }
  
  .success-message {
     /* Adjust the styles for responsiveness */
     height: 30vw;
     width: 91.5vw;
     color: white;
   }

  .loading-bar {
    /* Adjust the styles for responsiveness */
    width: 75%; /* You can adjust this value as per your preference */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px; 
  }

  .loading-text {
    width: 75%; /* You can adjust this value as per your preference */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 125px; 
  }
}


@media screen and (max-width: 480px) {
  .upload-widget {
    /* Adjust the styles for responsiveness */
    height: 30vw;
    width: 91.5vw;
  }
  
  .success-message {
     /* Adjust the styles for responsiveness */
     height: 30vw;
     width: 91.5vw;
     color: white;
   }

  .loading-bar {
    /* Adjust the styles for responsiveness */
    width: 75%; /* You can adjust this value as per your preference */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 75px; 
  }

  .loading-text {
    width: 75%; /* You can adjust this value as per your preference */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 90px; 
  }
}