.mainDiv{
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #032644;
    }
    
    
    .AI_GenBox{
    background-color: #0C5497;
    width: 55vw;
    height: 77vh;
    border: 1.3vw solid #0C5497;
    margin: 1.5vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 10vh;
    }
    /* upload box */
    .Upload{
    background-color: #FFFF;
    width: 31vw;
    height: 33.5vh;
    border: 1.3vw solid #FFFF;
    margin: 1.5vw;
    position: absolute;
    top: 10vh;
    left: 61vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    }
    
    
    .viewPlaylist{
    background-color: #FFFF;
    width: 31vw;
    height: 35.5vh;
    border: 1.3vw solid #FFFF;
    margin: 1.5vw;
    position: absolute;
    top: 51.5vh;
    left: 61vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    }
    
    
    @media screen and (max-width: 768px){
    .mainDiv{
    flex-direction: column;
    }
    
    
    .AI_GenBox{
    flex: 1;
    background-color: #0C5497;
    width: 93vw;
    height: 74vh;
    border: 1.3vw solid #0C5497;
    margin: 1.5vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 10.5vh;
    }
    .Upload{
    flex: 1;
    background-color: #FFFF;
    width: 92vw;
    height: 44vh;
    border: 1.3vw solid #FFFF;
    margin: 1.5vw;
    position: absolute;
    top: 90vh;
    left: 0vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    }
    .viewPlaylist{
    flex: 1;
    background-color: #FFFF;
    width: 92vw;
    height: 35vw;
    border: 1.3vw solid #22505D;
    margin: 1.5vw;
    position: absolute;
    top: 139vh;
    left: 0vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    }
    }
    
    
    @media screen and (max-width: 480px){
    .mainDiv{
    flex-direction: column;
    }
    
    
    .AI_GenBox{
    flex: 1;
    background-color: #D9D3C9;
    width: 93vw;
    height: 36vh;
    border: 1.3vw solid #D9D3C9;
    margin: 1.5vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 5.5vh;
    }
    .Upload{
    flex: 1;
    background-color: #E1BBB0;
    width: 92vw;
    height: 23vh;
    border: 1.3vw solid #E1BBB0;
    margin: 1.5vw;
    position: absolute;
    top: 45.5vh;
    left: 1vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    }
    .viewPlaylist{
    flex: 1;
    background-color: #22505D;
    width: 92vw;
    height: 23vh;
    border: 1.3vw solid #22505D;
    margin: 1.5vw;
    position: absolute;
    top: 72vh;
    left: 1vw;
    border-radius: 28px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    }
    }
    